@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/*
Design from https://www.figma.com/community/file/1009078914783822877/zeppelins-blog-website-design
*/


body {
	margin-top: 66px;
	margin-left: 40px;
}

h1 {
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	color: #D05270;
	word-wrap: break-word;
}

main {
	margin-right: 20%;
}

input {
	background-color: white;
	transition: background-color 1s;
}

input:hover {
	background-color: orange;
}


table {
	font-family: Montserrat;
	border: #D05270 solid;
}

table td {
	border: #D05270 solid;
	padding: 0px;
	margin: 0px;
}

#firstP {
	color: #424242;
	font-family: Montserrat;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
}

p {
	color: #424242;
	font-family: Montserrat;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}


h2 {
	color: #424242;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

nav li {
	display: flex;
	align-items: flex-end;
	color: #424242;
	font-family: Montserrat;
	font-size: 0px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-transform: uppercase;

}

li {
	display: flex;
	margin-bottom: 10px;
	font-family: Montserrat;
	color: #424242;
}

nav ul {
	padding: 0px;
	margin: 40px 0px 0px 40px;
}

nav {
	display: contents;
	flex-direction: column;
	align-content: flex-end;
	background-color: white;
	width: 100%;
	top: -1px;
}

#hamburger {
	float: right;
	margin-right: 8%;
}

#hamburger:hover+* li:nth-child(1) a {
	font-size: 20px;
	margin-bottom: 38px;
	transition-property: all;
	transition-duration: 1s;
	transition-delay: 1s;
}

#hamburger:hover+* li:nth-child(2) a {
	font-size: 20px;
	margin-bottom: 38px;
	transition-property: all;
	transition-duration: 1s;
	transition-delay: 2s;
}

#hamburger:hover+* li:nth-child(3) a {
	font-size: 20px;
	margin-bottom: 38px;
	transition-property: all;
	transition-duration: 1s;
	transition-delay: 3s;
}

#hamburger:hover+* li:nth-child(4) a {
	font-size: 20px;
	margin-bottom: 38px;
	transition-property: all;
	transition-duration: 1s;
	transition-delay: 4s;
}

nav a {
	text-decoration: none;
	color: #424242;
	font-family: Montserrat;
	font-size: 0px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	transition: all 1s;
	transition-delay: 4s;
	margin-bottom: 0px;
}

h4 {
	color: #D05270;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	margin-top: 14px;
	margin-bottom: 12px;
}
h4 + p {
	height: 120px;
}

a {
	color: #D05270;
	font-family: Montserrat;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	word-wrap: break-word;
}

figure {
	position: relative;
}

.watermark {
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	bottom: 0px;
	font-size: 50px;
	color: gray;
}


.post {
	position: relative;
	width: 540px;
	margin: 20px;
}


#postSection {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.date {
	color: #424242;
	font-family: Montserrat;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
.articleDetails {
	color: #D05270;
	font-family: Montserrat;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}


aside {
	position: fixed;
	right: 5%;
	bottom: 50%;
}

aside ul {
	padding: 0px;
}

#screensaver {
	display: none;
	position: fixed;
	left: 1px;
	top: 1px;
	z-index: 1;
}

/*
#loading {
	position: fixed;
	display: flex;
	align-items: center;
	height: 0px;
	margin: 0px;
	right: 50%;
	bottom: 50%;
}

#loading * {
	margin-right: 10px;
	display: flex;
	float: left;
	background-color: steelblue;
	width: 15px;
	height: 40px;
}

#loading *:nth-child(1) {
	animation: loading 0.4s 10 ease-in-out alternate 1s;
}

#loading *:nth-child(2) {
	animation: loading 0.4s 10 ease-in-out alternate 0.5s;
}

#loading *:nth-child(3) {
	animation: loading 0.4s 10 ease-in-out alternate;
}

#loadingBackground {
	background-color: cornsilk;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 1px;
	top: 1px;
	opacity: 100;
	transition: transform 1s 10s;
	animation-name: fadeBackground;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-delay: 1s;
	animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
	animation-fill-mode: forwards;
	z-index: 1;
}


@keyframes loading {
	100% {
		height: 20px;
	}
}

@keyframes fadeBackground {
	100% {
		transform: translateY(-100%);
	}
}

*/